---
sitemap: false
---
/*
variable declaration
*/

/* branding */
$logo: url("{{ '/assets/logo.png' | absolute_url }}");

/* text */

$body-font:       'Graphik Web', 'sans-serif';
$heading-font:    'Graphik Web', 'sans-serif';


/* Image Size */

$thumbnail-height: 140px;
$thumbnail-width: 140px;

/* colors */

$text-color:      #100c01;
$bg-color:        #ffffff;
$neutral:         #eae7de;
$accent-light:    #5F4607;
$accent-dark:     #644906;

/* viewport sizes */

$max-width:       800px;

/* margins */

$less-margin:     1.0rem;
$margin:          1.5rem;
$more-margin:     2.0rem;
$super-margin:    3.0rem;


$viewer-height:   550px;
$parallax-height: 350px;
$footer-height:   250px;

/*
font & asset import
*/
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-RegularItalic-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-RegularItalic-Web.woff) format("woff");
    font-weight: 100;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-Regular-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-Regular-Web.woff) format("woff");
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-MediumItalic-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-MediumItalic-Web.woff) format("woff");
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-Medium-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-Medium-Web.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-RegularItalic-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-RegularItalic-Web.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: Graphik Web;
    src: url(fonts/graphik/Graphik-Regular-Web.woff2) format("woff2"), url(fonts/graphik/Graphik-Regular-Web.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&font-display=auto');
@import 'wax';
